## Deliverable 3. Create a Travel Itinerary Map.

In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [13]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Rikitea,PF,73.26,light rain,-23.1203,-134.9692,People ThankYou
1,4,Klyuchi,RU,72.12,broken clouds,52.2667,79.1667,Vesolaya Mayovka
2,17,Buchanan,LR,73.83,broken clouds,5.8808,-10.0467,Kamaneahn Hotel Inc
3,20,Pontes E Lacerda,BR,70.59,few clouds,-15.2261,-59.3353,Hotel Bressan
4,26,Ust-Karsk,RU,74.98,clear sky,52.7011,118.8077,NaN
5,36,Cedar City,US,71.40,broken clouds,37.6775,-113.0619,Hampton Inn Cedar City
6,40,Micheweni,TZ,72.66,broken clouds,-4.9667,39.8333,NaN
7,43,Braganca,BR,72.68,few clouds,-1.0536,-46.7656,Marujo's Suíte Hotel
8,45,Pocone,BR,74.32,clear sky,-16.2567,-56.6228,Hotel e Churrascaria Pantaneira
9,79,Machico,PT,72.23,scattered clouds,32.7000,-16.7667,Dom Pedro Madeira Hotel

In [14]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [15]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Lewiston"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Lewiston"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Albany"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Oneonta"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Broome"]

In [20]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
92,632,Lewiston,US,72.05,broken clouds,44.1003,-70.2148,Hilton Garden Inn Auburn Riverwatch

In [23]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

(44.1003, -70.2148)

In [26]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

vacation_itinerary = gmaps.directions_layer(
    start,
    end,
    waypoints = [stop1, stop2, stop3],
    travel_mode = "DRIVING"
)

fig.add_layer(vacation_itinerary)

fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,632,Lewiston,US,72.05,broken clouds,44.1003,-70.2148,Hilton Garden Inn Auburn Riverwatch
1,83,Albany,US,74.05,clear sky,42.6001,-73.9662,NaN
2,525,Oneonta,US,72.28,clear sky,42.4529,-75.0638,Hampton Inn Oneonta
3,411,Broome,US,71.98,clear sky,42.2506,-75.8330,Chenango Valley State Park

In [29]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))