## Deliverable 2. Create a Customer Travel Destinations Map.

In [23]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Puerto Ayora,EC,-0.7393,-90.3518,69.55,95,58,5.99,broken clouds,2022-07-29 01:38:15
1,1,Rikitea,PF,-23.1203,-134.9692,73.26,75,6,21.16,light rain,2022-07-29 01:38:15
2,2,Esperance,AU,-33.8667,121.9000,63.90,73,93,15.05,light rain,2022-07-29 01:38:16
3,3,Port Macquarie,AU,-31.4333,152.9167,63.90,44,9,13.65,clear sky,2022-07-29 01:38:16
4,4,Klyuchi,RU,52.2667,79.1667,72.12,50,63,11.95,broken clouds,2022-07-29 01:38:16
5,5,Hithadhoo,MV,-0.6000,73.0833,81.88,73,100,13.44,overcast clouds,2022-07-29 01:38:17
6,6,Dodge City,US,37.7528,-100.0171,78.69,68,95,8.01,overcast clouds,2022-07-29 01:38:17
7,7,Yinchuan,CN,38.4681,106.2731,84.81,29,1,8.75,clear sky,2022-07-29 01:38:17
8,8,Iqaluit,CA,63.7506,-68.5145,49.73,71,75,2.30,broken clouds,2022-07-29 01:38:18
9,9,Mar Del Plata,AR,-38.0023,-57.5575,48.22,94,100,13.80,drizzle,2022-07-29 01:38:18

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))


max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 75

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
1,1,Rikitea,PF,-23.1203,-134.9692,73.26,75,6,21.16,light rain,2022-07-29 01:38:15
4,4,Klyuchi,RU,52.2667,79.1667,72.12,50,63,11.95,broken clouds,2022-07-29 01:38:16
17,17,Buchanan,LR,5.8808,-10.0467,73.83,74,55,7.90,broken clouds,2022-07-29 01:38:20
20,20,Pontes E Lacerda,BR,-15.2261,-59.3353,70.59,40,12,1.41,few clouds,2022-07-29 01:38:21
26,26,Ust-Karsk,RU,52.7011,118.8077,74.98,44,1,3.87,clear sky,2022-07-29 01:38:23
36,36,Cedar City,US,37.6775,-113.0619,71.40,60,75,8.05,broken clouds,2022-07-29 01:34:04
40,40,Micheweni,TZ,-4.9667,39.8333,72.66,85,68,8.10,broken clouds,2022-07-29 01:38:27
43,43,Braganca,BR,-1.0536,-46.7656,72.68,98,19,2.01,few clouds,2022-07-29 01:38:28
45,45,Pocone,BR,-16.2567,-56.6228,74.32,30,10,0.85,clear sky,2022-07-29 01:38:28
79,79,Machico,PT,32.7000,-16.7667,72.23,85,40,14.97,scattered clouds,2022-07-29 01:39:39

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                94
City                   94
Country                94
Lat                    94
Lng                    94
Max Temp               94
Humidity               94
Cloudiness             94
Wind Speed             94
Current Description    94
Date                   94
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.copy()
clean_df.dropna(how="any", inplace = True)
clean_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
1,1,Rikitea,PF,-23.1203,-134.9692,73.26,75,6,21.16,light rain,2022-07-29 01:38:15
4,4,Klyuchi,RU,52.2667,79.1667,72.12,50,63,11.95,broken clouds,2022-07-29 01:38:16
17,17,Buchanan,LR,5.8808,-10.0467,73.83,74,55,7.90,broken clouds,2022-07-29 01:38:20
20,20,Pontes E Lacerda,BR,-15.2261,-59.3353,70.59,40,12,1.41,few clouds,2022-07-29 01:38:21
26,26,Ust-Karsk,RU,52.7011,118.8077,74.98,44,1,3.87,clear sky,2022-07-29 01:38:23

In [38]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,73.26,light rain,-23.1203,-134.9692,
4,Klyuchi,RU,72.12,broken clouds,52.2667,79.1667,
17,Buchanan,LR,73.83,broken clouds,5.8808,-10.0467,
20,Pontes E Lacerda,BR,70.59,few clouds,-15.2261,-59.3353,
26,Ust-Karsk,RU,74.98,clear sky,52.7011,118.8077,
36,Cedar City,US,71.40,broken clouds,37.6775,-113.0619,
40,Micheweni,TZ,72.66,broken clouds,-4.9667,39.8333,
43,Braganca,BR,72.68,few clouds,-1.0536,-46.7656,
45,Pocone,BR,74.32,clear sky,-16.2567,-56.6228,
79,Machico,PT,72.23,scattered clouds,32.7000,-16.7667,

In [39]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    
    lat = row["Lat"]
    lng = row["Lng"]    
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
# 7. Drop the rows where there is no Hotel Name.
# hotel_df
clean_hotel_df = hotel_df.dropna(how ="any")
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,73.26,light rain,-23.1203,-134.9692,People ThankYou
4,Klyuchi,RU,72.12,broken clouds,52.2667,79.1667,Vesolaya Mayovka
17,Buchanan,LR,73.83,broken clouds,5.8808,-10.0467,Kamaneahn Hotel Inc
20,Pontes E Lacerda,BR,70.59,few clouds,-15.2261,-59.3353,Hotel Bressan
26,Ust-Karsk,RU,74.98,clear sky,52.7011,118.8077,
...,...,...,...,...,...,...,...
611,Padang,ID,73.45,light rain,-0.9492,100.3543,Mercure Padang
617,Engels,RU,72.46,clear sky,51.5000,46.1167,Rechnaya Dolina
623,Ekibastuz,KZ,73.15,broken clouds,51.6667,75.3667,
632,Lewiston,US,72.05,broken clouds,44.1003,-70.2148,Hilton Garden Inn Auburn Riverwatch
637,Esterhazy,CA,70.65,few clouds,50.6500,-102.0843,Canalta Hotel Esterhazy

In [42]:
# 8a. Create the output File (CSV)
output_data_file = "./Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [43]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [44]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))